### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Gradle ###
.gradle/
**/build/
**/.gradle/

### Java ###
*.class
*.log

# Maven-style build output
**/target/

### Wrapper
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Distribution Artifacts ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Temp and Logs ###
/bin/
/tmp/
/logs/