<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/company.css}"/>

    <title th:if="${pageTitle == 'Home'}">CompanyCompass</title>
    <title th:unless="${pageTitle == 'Home'}" th:text="'CompanyCompass | ' + ${pageTitle}">CompanyCompass</title>
</head>

<body>
<div th:replace="~{nav :: navbarFragment}"></div>
<div th:insert="~{${content}}"></div>
<div th:replace="~{footer :: footerFragment}"></div>
</body>
</html>