<!-- Navigation Bar -->
<nav th:fragment="navbarFragment" class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" th:href="@{/}">CompanyCompass</a>

        <ul class="navbar-links">
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a th:href="@{/add}">Add New Company</a>
            </li>
            <li>
                <a th:href="@{/about}">About</a>
            </li>
            <li>
                <a th:href="@{/contact}">Contact</a>
            </li>
        </ul>
    </div>
</nav>